= form_for @manga, :html => {:multipart => true} do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :author
    %br
    = f.text_field :author
  %p
    = f.file_field :image
  %p
    = f.submit
