- title "Mangas", false

#mangas
  - @mangas.each do |manga|
    .manga
      .title= link_to manga.title, manga
      .image
        = image_tag (manga.image_url || "")
      .author= manga.author
      .created_by= h manga.user.try(:name) || "Anonymous"
      .clear

%p= link_to "New Manga", new_manga_path
