- title "New Manga"

%p
  Search mangas to register
= form_tag new_manga_path, :method => :get do
  = text_field_tag :query, params[:query]
  = submit_tag "Search"

#amazon-items
  - @items.each do |item|
    - image_url, title, author = item.get("smallimage/url"), item.get('itemattributes/title'), item.get("author")
    .amazon-item
      .image
        = image_tag image_url if image_url
      .title{:title => h(title)}
        = truncate title
      .author
        = author
      .clear
      .post
        = form_tag mangas_path(:query => params[:query]) do
          = hidden_field_tag "manga[title]", title
          = hidden_field_tag "manga[author]", author
          = hidden_field_tag "manga[image_url]", image_url
          = submit_tag "Regist"
  .clear

%p= link_to "Back to List", mangas_path
